################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/

/data/*.txt
/data/gps/*.txt
/data/video/*.h264
