################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore Recorded Files
/data/framedata/*.csv
/data/metadata/*.json
/data/video/*.h264

# Ignore Visual Studio Files
/.vs/
