################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/skyguard/FileContentIndex
/.vs/skyguard/v17
/.vs/slnx.sqlite
